<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form id="signup" action="/info" method="post">
    <p>id : <input type="text" name="id"></p>
    <p>password : <input type="password" name="password"></p>
    <p>name : <input type="text" name="name"></p>
    <p>age : <input type="text" name="age"></p>
    <p>phone : <input type="text" name="phone"></p>
    <p>address : <input type="text" name="address"></p>
    <button type="submit">전송</button>
</form>
</body>
</html>